<script>
    export let org = 'Pewen'
    export let h
</script>

<footer bind:clientHeight={h} class="p-6 text-white bg-blue-500 border-b-8 border-blue-700 shadow-2xl">
    <div class="text-center">
        <p>By {org}</p>
        <slot />
    </div>
</footer>