<script></script>

<style global>
    @tailwind base;
    @tailwind components;
    @tailwind utilities;
 
    body {
        @apply bg-gray-50;
    }

    h1 {
        @apply text-5xl;
    }
 
    .leaflet-marker-pane svg {
        margin-top: 0.7rem;
    }
</style>