<script>    
    import { onMount } from 'svelte';
    import * as L from "leaflet"
    import awesomeMarkers from "leaflet.awesome-markers"
    import fortAwesome from "@fortawesome/fontawesome-free/js/all"
    import omnivore from "@mapbox/leaflet-omnivore";
    
    import "../../node_modules/leaflet/dist/leaflet.css"
    import "../../node_modules/leaflet.awesome-markers/dist/leaflet.awesome-markers.css"
    import ""
    
    export let center = [-40.196, -61.853]
    export let zoom = 5;
    export let tile = "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";
    export let tileOptions = {maxZoom: 19, attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'};
    export let data = []
    
    const layers = {}
    const overlays = {}

    const createPopup = (feature, ignoreKeys = ['icon', 'color']) => {
        let text = ''
        let properties = feature.properties

        Object.keys(properties).forEach(key => {
        if (properties[key] && !ignoreKeys.includes(key)) {
            text += `<strong>${key}:</strong> ${properties[key]}<br>`
        }
        })
        return text
    }

    const createLayer = (color='red', icon='home') => {
        return L.geoJson(null, {
        pointToLayer: (feature, latlng) => {
            const Marker = L.AwesomeMarkers.icon({
            icon: feature.properties.icon || icon,
            prefix: 'fa',
            markerColor: feature.properties.color || color
            })
            return L.marker(latlng, { icon: Marker })
        },
        onEachFeature: (feature, layer) => {
            layer.bindPopup(createPopup(feature, ['icon', 'color']))
        }
        })
    }

    onMount(() => {
        // Set up initial map center and zoom level
        const map = L.map('map', {
            center: center, // EDIT latitude, longitude to re-center map
            zoom: zoom,  // EDIT from 1 to 18 -- decrease to zoom out, increase to zoom in
            scrollWheelZoom: true,
        })
        
        L.tileLayer(tile, tileOptions).addTo(map);

        data.forEach(entry => {
            layers[entry.name] = createLayer(entry.color, entry.icon);
            omnivore.csv(entry.url, null, layers[entry.name]).addTo(map);
            overlays[entry.name] = layers[entry.name];
        })

       console.log(layers, overlays)
        L.control.layers({}, overlays).addTo(map);
    })

</script>

<div id="map"></div>

<style>
    #map { height: 80vh; }
</style>