<script>
    export let h
</script>

<nav bind:clientHeight={h} class="text-white bg-blue-500 border-t-8 border-blue-700 shadow-2xl">
    <div class="flex justify-between container mx-auto py-2 px-4 md:px-0">
        <div>
            <slot name="logo"></slot>
        </div>
        
        <div>
            <div class="hidden md:flex gap-2">
                <slot />
            </div>

            <div class="block md:hidden">
                <p>Button</p>
            </div>
        </div>
    </div>
</nav>