<script>
	import Footer from "./components/Footer.svelte";
	import Navbar from "./components/Navbar.svelte";
	import GlobalStyle from "./components/GlobalStyle.svelte";
	import Map from "./components/Map.svelte";

	let navbarHeight;
	let footerHeight;

	const center = [-40.196, -61.853]
	const data = [
        { name: "Redes", url: "/data/Redes1.csv", color: "red", icon: "home" },
        { name: "Test", url: "/data/Redes2.csv", color: "blue", icon: "home" }
    ]
</script>

<GlobalStyle />

<Navbar bind:h={navbarHeight}>
	<p slot="logo">Pewen</p>
</Navbar>

<main style="--footerHeight:{footerHeight}px; --navbarHeight:{navbarHeight}px">
	<div class="container mx-auto">
		<div class="text-center">
			<h1>Pewen</h1>
		</div>
	</div>

	<Map center={center} zoom={5} data={data}></Map>

</main>

<Footer org="Pewen" bind:h={footerHeight}>
</Footer>

<style>
	main {
		/* ambos "-8px" vienen de los bordes sup (navbar) e inf (footer)  */
		min-height: calc(100vh - var(--footerHeight) - var(--navbarHeight) - 8px - 8px);
	}
</style>
  